@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-page);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}


.victor-mono {
  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}